@import "node_modules/bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(241, 241, 241);
}

.colore-viola{
    color: #5968EF;
}
.sfondo-viola{
    background-color: #5968EF;
}




