@import "node_modules/bootstrap/scss/bootstrap";
@import "@tomtom-international/web-sdk-maps";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(241, 241, 241);
}


