@media screen and (max-width: 992px) {
    .photo-container{
        display: none;
    }

    .space-left{
        display: none;
    }

    .info-container{
        width: 100% !important;
        padding: 200px 50px !important;
    }

    .footer-show{
        width: 100% !important;
    }

    .jumbo-background{
        padding: 150px 20px !important;
    }

    .jumbotron{
        padding: 40px !important;
    }

    .title-jumbotron{
        font-size: 30px !important;
        text-align: center;
    }

    .description-jumbotron{
        text-align: center;
        margin-right: 0 !important;
    }

    img{
        margin-top: 1000px;
    }
    
  }

  